.chip {
  margin: 5px 5px 5px 0;
}

.addressing {
  display: flex;
  align-items: center;
}

.media {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .media {
    display: flex;
    justify-content: space-between;
  }
}
