/* Add a class for centering the map on smaller screens */
/* .centerMap {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Rest of the styles */

.marking {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  &:hover {
    z-index: 2;
  }
}

.google {
  position: relative;
  /* width: 100%;
  height: 100vh; */
  z-index: 0;
  &:hover {
    z-index: 1;
  }
}

.papering {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
}

.pointer {
  cursor: pointer;
}

/* Media query for smaller screens */

/* Add the following CSS inside your Maps.css file or your style block */

/* Optionally, you can adjust the height for smaller screens */

@media screen and (max-width: 780px) {
  .google {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .koinhi{
    padding:6px
  }
}
