.loading {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-weight: "bold";
  font-size: "26px";
}

@media screen and (max-width: 1200px) {

  .pakistan{
    min-height: 100vh;
   
  }
  .handup{
    margin-left: 25px;
  }
  .seam{
    margin-top: 20px;
  }
  .heading {
    font-weight: bold;
    font-size: 20px;
  }
  .groundsman{
    text-align: center;
  }
 
  
 

}
