.parthratra
{
    display: flex;
   
    justify-content: space-between; 

}
.custom-marker {
    background-color: #161D29;
    /* Add any other styles you want for the marker */
  }

@media screen and (max-width: 750px) {
    
    .parthratra{
        margin: 30px;

        
       
      
        
       
    }
    .giyan{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        
       
        

    }
    .ooof
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: px; */
        margin:auto
    }
    .please{
      display: none;
    }
}