/* .Footer {
   
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E8E8E8;

  }

  .Footer >p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
img{
    width: 20px;
}

.Footer > a{
    text-decoration: none;
    
    color: rgba(66, 66, 66, 0.545);
   
    margin-bottom: 4px;
    font-size: 10px;
    margin-top: 6px;
}
.social-links{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 4px;
} */