/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    BlinkMacSystemFont,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  user-select: none;
} */

/* .App {
  display: flex;
}

.left {
  flex: 1;
}
.right {
  flex: 1;
} */
